@import "../colorPalette.scss";

.Item {
  display: flex;
  justify-content: center;
}

.itemData {
  width: 60%;
  padding: 32px;
  position: absolute;
  top: 70px;
  background-color: white;
  color: $off-black;
  display: flex;
  justify-content: space-between;
}

.itemDetails {
  margin-left: 16px;
  margin-top: 10px;
  max-width: 300px;
  .itemPrice {
    margin-bottom: 32px;
    font-size: 24px;
    .truckIcon {
      margin-left: 10px;
    }
  }
  .itemName {
    font-size: 18px;
  }
}

.itemImage {
  width: 680px;
  height: 680px;
  border-radius: 4px;
  img {
    width: 100%;
    height: auto;
  }
}

.estadoItem,
.ventasItem {
  font-size: 14px;
}
