@import "../colorPalette.scss";

.Item {
  display: flex;
  justify-content: center;
}

.itemData {
  width: 72%;
  padding: 32px;
  position: absolute;
  top: 70px;
  background-color: white;
  color: $off-black;
  .itemTop {
    display: flex;
    justify-content: space-between;
  }
}

.itemInfo {
  max-width: 250px;
  .itemPrice {
    margin-bottom: 32px;
    font-size: 46px;
  }
  .itemName {
    font-size: 24px;
    margin-bottom: 32px;
    font-weight: bold;
  }
  .itemBuy {
    color: $white;
    background-color: $blue;
    width: 100%;
    border: 1px solid $blue;
    height: 40px;
    font-size: 18px;
  }
}

.itemImage {
  width: 680px;
  height: 680px;
  border-radius: 4px;
  img {
    width: 100%;
    height: auto;
  }
}

.itemDetails {
  margin-bottom: 16px;
}

.estadoItem,
.ventasItem {
  font-size: 14px;
}

.itemDescription {
  max-width: 680px;
  .itemDescriptionTitle {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .itemDescriptionText {
    font-size: 16px;
  }
}
