.Card {
    min-width: 240px;
    margin: 5px;
    width: 240px;
    height: 314px;
    background-color: white;
}

.Image {
    margin: 10px;
    width: 225px;
    height: 225px;
}

.Price {
    border-top: 1px solid rgba(51,51,51,.1);
    color: #333;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}