.TruckIcon {
  width: 36px;
  height: 36px;
  top: 212px;
  right: 16px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  padding: 8px 4px 0px 7px;
  box-sizing: border-box;
}
